body {
    background-color: #faebd7;
    font-family: Canela, serif;
    margin: 0;
    background-size: 75%;
    color: #000;
}

.relative {
    position: relative;
}

a {
    color: #000;
}

.ac {
    text-transform: uppercase;
}

.activelink {
    border-bottom: 2px solid blue;
}

.my-input {
    padding: 10px;
    border: none;
    width: 100%;
    background: #fff;
}

.my-btn {
    position: relative;
    display: inline-block;
    font-family: Aku, serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 15px;
    color: #000;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 16px 0;
    cursor: pointer;
}

.my-btn:after,
.my-btn:hover:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all .2s;
}

.my-btn:after {
    background: #d37057;
    left: 8px;
    top: 8px;
}

.my-btn:hover:after {
    background: transparent;
    left: 0;
    top: 0;
}

.my-btn span {
    background: #faebd7;
    position: relative;
    color: #000!important;
    padding: 13px 30px;
    z-index: 2;
    border: 3px solid #000;
}


}
@media screen and (max-width: 650px) {
    .calc-font h1 {
        font-size: 26px;
    }
}
@media screen and (min-width: 650px) {
    .calc-font h1 {
        font-size: calc(26px + 26*(100vw - 650px)/950);
    }
}
.nav-item .nav-link,
.navbar-brand {
    color: #fff;
}
.text-meta {
    color: #8d8d8d;
}
.card-body {
    color: #000;
}
.authorimg {
    width: 40px;
}
.author {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    white-space: nowrap;
    width: 100%;
}
.authortitle {
    font-size: .82353em;
    font-weight: bold;
    line-height: 1.42857em;
    margin-left: 7px;
    margin-right: 7px;
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
    min-width: 0;
}
.authormeta {
    font-size: 12px;
    line-height: 17px;
}
.index-bg {
    background: linear-gradient( rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)), url(img/bgimg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.other-bg {
    background: linear-gradient( rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)), url(img/bgimg.jpg);
    color: #fff;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
blockquote {
    border-left: 2px solid blue;
    padding-left: 10px;
    margin: 0;
    font-weight: bold;
    font-size: inherit;
}
.bg-dark-blue {
    background: #2f374c;
    color: #fff;
}
.matched {
    background-color: #dfdfc3;
}
.full-window {
    padding: 150px 0 130px;
}
.txt-num-title {
    font-family: Aku, serif;
    color: #d37057;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
}
.centered {
    position: relative;
    top: 30%;
}
.centered-btn {
    display: flex;
    justify-content: center;
}
.p-text {
    max-width: 700px;
    padding: 20px 0px;
}
.footer-p {
    padding: 50px 0 30px;
}